extends layout

block content
  h1= title
  if user 
    h4 Welcome back, #{user._id}!
  else
    h4 Welcome to the site! 

  if user
    a(class='nav-link', href='/users/log-out') Log out
  else 
    a(class='nav-link', href='/users/sign-up') Sign up
    a(class='nav-link', href='/users/log-in') Log in
